# Python
*.py[cod]
*$py.class
./backend/*.py[cod]
./backend/*.pyo
./backend/*.pyd
\

# Django
./backend/*.log
./backend/db.sqlite3
./backend/media/
./backend/staticfiles/
cache/

# Env files (CRITICAL)
.env
.env.*
!.env.example

# Virtual environments
venv/
env/
.venv/

# Node / React
node_modules/
dist/
build/

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
*.pid

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Misc
*.swp

.dockerignore